<a href="{SITE_LEVEL}/" title="TXM.com"><img src="{SITE_LEVEL}extras/images/extras_header_upload.gif" width="193" height="100" /></a><a href="{SITE_LEVEL}extras" title="Extras"><img src="{SITE_LEVEL}extras/images/extras_header.gif" width="579" height="100" /></a>

<div style="width: 191px; float: left;">
	{EXTRAS_side}</div>

<div style="width: 579px; float: right;">
  <div class="grn-top"><div class="dft-btm"><div class="dft-rht"><div class="dft-lft"><div class="grn-ctl"><div class="grn-ctr">
    <div class="dft-hdr grn-icn-news grn-bdr">
      Promotional Banners for Summer of 2005 Contest</div>
      
    <div class="dft-cnt grn-bdr">
			The following banners were created by TXM.com members for a contest held in the summer of 2005.
			We liked them all so much that we decided to archive them for public use.  Feel free to use
      any of the following banners to link to TXM.com!</div>
      
    <div class="dft-cnt" style="text-align: center;">
      <IMG SRC='{SITE_LEVEL}extras/contest/b12.gif'><br />
      Created by Dynakyris. Width is 400. Height is 80. Format is GIF.<br /><br />

      <IMG SRC='{SITE_LEVEL}extras/contest/b13.gif'><br />
      Created by kev-nuu. Width is 468. Height is 60. Format is GIF.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b14.gif'><br />

      Created by Eric Whit. Width is 468. Height is 60. Format is GIF.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b11.jpg'><br />

      Created by shy_guy_comic. Width is 468. Height is 60. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b3.jpg'><br />

      Created by alterego. Width is 468. Height is 91. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b5.jpg'><br />

      Created by kev-nuu. Width is 472. Height is 64. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b13.png'><br />

      Created by Dynakyris. Width is 500. Height is 80. Format is PNG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b14.png'><br />

      Created by Dynakyris. Width is 500. Height is 80. Format is PNG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b7.jpg'><br />

      Created by Twisted_Sanity. Width is 500. Height is 100. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b8.jpg'><br />

      Created by Twisted_Sanity. Width is 500. Height is 100. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b9.jpg'><br />

      Created by shy_guy_comic. Width is 500. Height is 100. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b10.jpg'><br />

      Created by shy_guy_comic. Width is 500. Height is 100. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b2.gif' WIDTH='555'><br />

      Created by Dynakyris. Width is 596. Height is 101. Format is GIF.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b4.jpg' WIDTH='555'><br />

      Created by ZekeyLizard. Width is 728. Height is 90. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b6.jpg' WIDTH='555'><br />

      Created by ZekeyLizard. Width is 728. Height is 90. Format is JPG.<br /><br />

      

      <IMG SRC='{SITE_LEVEL}extras/contest/b1.png' WIDTH='555'><br />

      Created by MajinPicollo. Width is 750. Height is 110. Format is PNG.<br /><br />
    </div>
	</div></div></div></div></div></div>
</div>
<br class="clr" />