<div class="dft-top">
  <div class="dft-hdr dft-ldr icn-news">
    The Staff of TXM.com</div> 

  <div class="dft-alt">
    <img src="{SITE_LEVEL}media/profiles/avatars/3.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>Kevin Nuut</strong><br />
      kevin.txm.com<br />
      Creator &amp; Developer</div>
    <div class="dft-cnt">
      Kevin created TXM in June of 2000 and it is his baby. He handles the scripting
      and design of the site and is responsible for all of the entertaining sections of TXM.</div>
    <div class="clr"></div>
  </div>

  <div>
    <img src="{SITE_LEVEL}media/profiles/avatars/5318.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>Jesse Huertas</strong><br />
      jesse.txm.com<br />
      Marketing &amp; Promotions</div>
    <div class="dft-cnt">
      Jesse has known Kevin since third grade, but it wasn't until 2007 that he became
      a joint owner in TXM.com, taking over recruiting, promotions, advertising, and marketing.</div>
    <div class="clr"></div>
  </div>    

  <div class="grn-alt">
    <img src="{SITE_LEVEL}media/profiles/avatars/4.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>Sheila Hippert</strong><br />
      sheila.txm.com<br />
      Assistant Designer</div>
    <div class="dft-cnt">
      Sheila keeps the rest of the team inline when we lose site of our audience.  Her design skills
      and media layout expertise have helped improve the site layout ten fold.</div>
    <div class="clr"></div>
  </div> 
      
  <div>
    <img src="{SITE_LEVEL}media/profiles/avatars/8.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>Steven Pearce</strong><br />
      sza.txm.com<br />
      Forum Administrator</div>
    <div class="dft-cnt">
      Steven often takes a pessimistic approach to situations. 
      His influence extends into the Movies and he runs the 
      Forums with an iron fist.  Make sure to check out his History of TXM.com.</div>
    <div class="clr"></div>
  </div>

  <div class="dft-alt">
    <img src="{SITE_LEVEL}media/profiles/avatars/2.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>Brian Roberts</strong><br />
      kandyman.txm.com<br />
      Portal Programmer</div>
    <div class="dft-cnt">
      Brian scripted the first PHP version of the Cellblock 
      during the second year of TXM.com. His presence can be seen
      in the Forums where he likes to ban new members.</div>
    <div class="clr"></div>
  </div>   

  <div>
    <img src="{SITE_LEVEL}media/profiles/avatars/3378.gif" width="50" height="50" class="dft-img" style="display: block; float: left;" />
    <div class="dft-cnt" style="float: left; width: 150px">
      <strong>James Docherty</strong><br />
      docherty.txm.com<br />
      Contests &amp; Moderator</div>
    <div class="dft-cnt">
      James has been known for keeping the spirit alive during the down times
      of TXM.com through his awkward Bootlegs and amazing themed artwork.
      He is in charge of all contests.</div>
    <div class="clr"></div>
  </div>
</div>