<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
    <div class="grn-dbck">
    	<div style="width: 772px; margin: auto;">			
            <a href="{SITE_LEVEL}movies/upload/" title="Upload Movie" style="display: block; float: left; text-indent: -9999em; background: url({SITE_LEVEL}movies/images/splash.jpg) no-repeat 0px 0px; width: 200px; height: 100px; text-decoration: none;">Upload Game</a>
            <a href="{SITE_LEVEL}movies/" title="Watch More Movies" style="display: block; float: left; text-indent: -9999em; background: url({SITE_LEVEL}movies/images/splash.jpg) no-repeat -200px 0px; width: 572px; height: 100px; text-decoration: none;">Play More Games</a>
            <div class="clr"></div>
		</div>
    </div>
<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>

<div id="viewStore"></div>
     
<div class="col-w1x4">
	<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr grn-dbck">
			Points of Interest
        </div>
        
        <div class="grn-back grn-brdr">
            <a href="{SITE_LEVEL}movies/upload/" title="Upload Movie" class="dft-lnk red-alt">Upload Your Own Movie</a>
            <a href="{SITE_LEVEL}games/" title="Play Games" class="dft-lnk">Play Some Games</a>
            <a href="{SITE_LEVEL}misc/copyright-notice/" title="Copyright Notice" class="dft-lnk red-alt">Review Copyright Policy</a>								
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
    
	<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr grn-dbck">
			Content Filters</div>
        
        <div class="grn-back grn-brdr">
            <a href="{SITE_LEVEL}movies/filter/latest" class="dft-lnk grn-alt">Latest Flash Entries</a>
            <a href="{SITE_LEVEL}movies/filter/popular" class="dft-lnk">Most Popular By Vote</a>
            <a href="{SITE_LEVEL}movies/filter/best" class="dft-lnk grn-alt">Only The Best</a>
            <a href="{SITE_LEVEL}movies/filter/needsvotes" class="dft-lnk">Needs More Votes</a>
            <a href="{SITE_LEVEL}movies/filter/worst" class="dft-lnk grn-alt">Only The Worst</a>
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
        
	<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr grn-dbck">
			Watch By Movie Types
        </div>
        
        <div class="grn-back grn-brdr">
            <a href="{SITE_LEVEL}movies/filter/comedy" class="dft-lnk grn-alt">Comedy Shorts</a>
            <a href="{SITE_LEVEL}movies/filter/drama" class="dft-lnk">Serious Drama</a>
            <a href="{SITE_LEVEL}movies/filter/horror" class="dft-lnk grn-alt">Horror Flicks</a>
            <a href="{SITE_LEVEL}movies/filter/noir" class="dft-lnk">Dark Noir</a>
            <a href="{SITE_LEVEL}movies/filter/othermovies" class="dft-lnk grn-alt">Other Movies</a>
            <a href="{SITE_LEVEL}movies/filter/parodies" class="dft-lnk">Parodies &amp; Sprites</a>
            <a href="{SITE_LEVEL}movies/filter/series" class="dft-lnk grn-alt">Continuing Series</a>
            <a href="{SITE_LEVEL}movies/filter/music" class="dft-lnk">Music Videos</a>
            <a href="{SITE_LEVEL}movies/filter/action" class="dft-lnk grn-alt">High Octane Action</a>
            <a href="{SITE_LEVEL}movies/filter/fantasy" class="dft-lnk">SciFi &amp; Fantasy</a>
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
        
	<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr grn-dbck">
			Watch By Age Ratings
        </div>

        <div class="grn-back grn-brdr">
        	<a href="{SITE_LEVEL}movies/filter/childhood" class="dft-lnk grn-alt">Early Childhood</a>
            <a href="{SITE_LEVEL}movies/filter/everyone" class="dft-lnk">Everyone Else</a>
            <a href="{SITE_LEVEL}movies/filter/teen" class="dft-lnk grn-alt">Teenagers &amp; Up</a>
            <a href="{SITE_LEVEL}movies/filter/mature" class="dft-lnk">Mature Content</a>
            <a href="{SITE_LEVEL}movies/filter/adults" class="dft-lnk grn-alt">Adults Only</a>
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
        
	<div class="col-pad grn-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr grn-dbck">
			Important Notice
        </div>

        <div class="dft-cnt grn-back grn-brdr">
            Please review five movies or games for every submission you make to help the TXM community.<br /><br />
            Give constructive feedback.<br /><br />
            Flash movies and games require five votes to be on 'Only The Best', 'Most Popular' movies and games are ordered by vote amounts, and 'Latest Entries' are ordered by date uploaded.<br /><br />
            Spam voting and 'vote fifen' techniques are not allowed at TXM.  Please review each Flash movie and game honestly and fairly.<br /><br />
            No porn is allowed.
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
</div>
  