<div class="col-w1x4">
	<div class="col-pad blu-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr blu-dbck icn-games">
			Latest Games</div>
        
        <div class="blu-back blu-brdr">
        	<div class="dft-hlt">
<!-- BEGIN c1_image -->
				<a href="{SITE_LEVEL}games/{c1_image.id}/{c1_image.title_link}/" title="{c1_image.title}">
  	  				<img src="{c1_image.avatar}" width="50" height="50" alt="{c1_image.title_link}" class="blk-img" style="margin: 4px 6px;" /></a>
<!-- END c1_image -->			
				<div class="clr"></div>	
            </div>
<!-- BEGIN c1 -->
     		<a href="{SITE_LEVEL}games/{c1.id}/{c1.title_link}/" title="{c1.title}" class="dft-lnk media-lnk {c1.color}" style="background-image: url({SITE_LEVEL}games/images/categories/{c1.id_type}.gif);">
        		{c1.title}</a>
<!-- END c1 -->
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
</div>

<div class="col-w1x4">
	<div class="col-pad blu-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr blu-dbck icn-games">
			Weekly Best</div>

        <div class="blu-back blu-brdr">
        	<div class="dft-hlt">
<!-- BEGIN c2_image -->
				<a href="{SITE_LEVEL}games/{c2_image.id}/{c2_image.title_link}/" title="{c1_image.title}">
  	  				<img src="{c2_image.avatar}" width="50" height="50" alt="{c2_image.title_link}" class="blk-img" style="margin: 4px 6px;" /></a>
<!-- END c2_image -->			
				<div class="clr"></div>	
            </div>
<!-- BEGIN c2 -->
     		<a href="{SITE_LEVEL}games/{c2.id}/{c2.title_link}/" title="{c2.title}" class="dft-lnk media-lnk {c2.color}" style="background-image: url({SITE_LEVEL}games/images/categories/{c2.id_type}.gif);">
        		{c2.title}</a>
<!-- END c2 -->
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>

	<div class="col-pad blu-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr blu-dbck icn-games">
			Dieing Classics</div>

        <div class="blu-back blu-brdr">
        	<div class="dft-hlt">
<!-- BEGIN c4_image -->
				<a href="{SITE_LEVEL}games/{c4_image.id}/{c4_image.title_link}/" title="{c1_image.title}">
  	  				<img src="{c4_image.avatar}" width="50" height="50" alt="{c4_image.title_link}" class="blk-img" style="margin: 4px 6px;" /></a>
<!-- END c4_image -->			
				<div class="clr"></div>	
            </div>
<!-- BEGIN c4 -->
     		<a href="{SITE_LEVEL}games/{c4.id}/{c4.title_link}/" title="{c4.title}" class="dft-lnk media-lnk {c4.color}" style="background-image: url({SITE_LEVEL}games/images/categories/{c4.id_type}.gif);">
        		{c4.title}</a>
<!-- END c4 -->
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
</div>
    
<div class="col-w1x4">
	<div class="col-pad blu-blck"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b>
        <div class="blk-hedr blu-dbck icn-games">
			All Time Greatest</div>

        <div class="blu-back blu-brdr">
        	<div class="dft-hlt">
<!-- BEGIN c3_image -->
				<a href="{SITE_LEVEL}games/{c3_image.id}/{c3_image.title_link}/" title="{c1_image.title}">
  	  				<img src="{c3_image.avatar}" width="50" height="50" alt="{c3_image.title_link}" class="blk-img" style="margin: 4px 6px;" /></a>
<!-- END c3_image -->			
				<div class="clr"></div>	
            </div>
<!-- BEGIN c3 -->
     		<a href="{SITE_LEVEL}games/{c3.id}/{c3.title_link}/" title="{c3.title}" class="dft-lnk media-lnk {c3.color}" style="background-image: url({SITE_LEVEL}games/images/categories/{c3.id_type}.gif);">
        		{c3.title}</a>
<!-- END c3 -->
		</div>
	<b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></div>
</div>
