						<div class="blu-top"><div class="dft-btm"><div class="dft-rht"><div class="dft-lft"><div class="blu-ctl"><div class="blu-ctr">
            	<div class="dft-hdr blu-bdr blu-icn-games">
              	Play Game '{title}' By {nick_name}</div>
              
              <div class="dft-cnt blu-bdr" style="text-align: center;">
              	<object type="application/x-shockwave-flash" name="allowAccessScript" vlaue="sameDomain" width="{width}" height="{height}" data="{SITE_LEVEL}media/games/{id}.swf">
                	<param name="allowAccessScript" vlaue="sameDomain" /><param name="movie" value="http://www.{SITE_DOMAIN}media/games/{id}.swf" />
              	</object></div>
  
  						<a href="{SITE_LEVEL}games/{id}/{title_link}/" class="dft-lnk-big blu-alt">Return to Game '{title}' Details to Vote and to Comment</a>
						</div></div></div></div></div></div>