		.left {
				float: left;
		}
		
		.right {
				float: right;
		}
		
		.relative {
				position: relative;
		}
		
		#ratings {
				width: 56px;
		}	
		
		#ratings img {
				margin: 4px 0;
		}
		
		.score {
				font-size: 18px; 
				vertical-align: text-top;
		}	
		
		#viewOptions {
				height:   150px;
				overflow: hidden;
				position: relative; 
				width:    267px; 				  
		}
		
		#viewPlay {
				background:  url(../images/viewPlay.png); 
				display: 		 block; 
				height: 		 150px;
				position:    absolute;
				text-indent: -9999em;
				width:       267px;		 				
		}
		
		#viewPlay:hover {
				background: url(../images/viewPlayHover.png); 				
		}
		
		#viewDimmer {
				background: #000;			 
				height: 	  100%;
				left: 			0px;
				position: 	fixed; 
				top: 				0px;  
				width: 			100%;  
				z-index: 		1;
		} 
		
		#viewScreen {
				z-index:  5; 
		}
		
		.enlarge {
				font-size: 18px;
		}
		
		#viewScreenCore {
				background: #000;
				overflow:   hidden;
				text-align: center;
		}	
		
		#viewClose {
				background:			url(../images/delete.png) no-repeat 100% 50%;
				cursor:			    pointer;
				text-indent:    -9999em;				
				width:          16px;				
		}
		
		.viewDetails {
				margin: 0 4px 4px 4px;
		}
		
		.viewDetails table {
				 height:  140px; 
				 padding: 0 5px;
				 width:   272px; 				 
		}
		
		.viewComment {
				margin: 4px 4px 0 4px;				
		}
		
		.viewComment .white-dbck {
				padding:    0 6px;
				text-align: justify;				
		}