RewriteEngine On
RewriteBase /

# Rewrite URLs to remove www from domain name
RewriteCond %{HTTP_HOST} ^w{1,5}\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Any file that already exists, go to it
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

#
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

ExpiresActive On
ExpiresDefault A86400

ExpiresByType text/html A86400
ExpiresByType image/gif A604800
ExpiresByType image/jpg A604800
ExpiresByType image/png A604800
ExpiresByType image/x-icon A604800
ExpiresByType image/ico A604800
ExpiresByType text/css A604800
ExpiresByType text/javascript A604800
ExpiresByType application/x-javascript A604800
ExpiresByType application/javascript A604800

<FilesMatch "\.(ico|flv|pdf|avi|mov|ppt|doc|mp3|wmv|wav|gif|jpeg|jpg|png)$">
    Header set Cache-Control "public"        
</FilesMatch>
