<div class="main">
	<div class="col-w1x4">
		<div class="mainBlue roundedBorders12 margin4" style="padding-bottom: 10px;">
	  		<div class="blockTitle">
	    		Latest Games
	    	</div>
	        
	        <div class="mainWhite borderDottedBlue">
	        	<div class="dft-hlt" style="height: 124px; padding: 4px 22px; border-bottom: 1px dotted blue;">
	<!-- BEGIN c1_image -->
	                <a href="/games/view/{c1_image.id}/{c1_image.title_link}/" title="{c1_image.title}">
	                	<img src="{c1_image.avatar}" width="50" height="50" alt="{c1_image.title_link}" class="blk-img" style="margin: 4px;" /></a>
	<!-- END c1_image -->
					<div class="clr"></div>	
	            </div>
	<!-- BEGIN c1 -->			  
	            <a href="/games/view/{c1.id}/{c1.title_link}/" title="{c1.title}" class="dft-lnk media-lnk {c1.color}" style="background-image: url(/image/games/categories/{c1.id_type}.gif);">
	            {c1.title}</a>
	<!-- END c1 -->
			</div>
		</div>
	</div>
	
	<div class="col-w1x4">
		<div class="mainBlue roundedBorders12 margin4" style="padding-bottom: 10px; margin-bottom: 8px;">
	  		<div class="blockTitle">
				Weekly Best
	        </div>
	
	        <div class="mainWhite borderDottedBlue">
	        	<div class="dft-hlt" style="height: 124px; padding: 4px 22px; border-bottom: 1px dotted blue;">       
	<!-- BEGIN c2_image -->
	          		<a href="/games/view/{c2_image.id}/{c2_image.title_link}/" title="{c2_image.title}">
	            		<img src="{c2_image.avatar}" width="50" height="50" alt="{c2_image.title}" class="blk-img" style="margin: 4px;" /></a>
	<!-- END c2_image -->			
					<div class="clr"></div> 
	            </div>     
	<!-- BEGIN c2 -->
	            <a href="/games/view/{c2.id}/{c2.title_link}/" title="{c2.title}" class="dft-lnk media-lnk {c2.color}" style="background-image: url(/image/games/categories/{c2.id_type}.gif);">
	              {c2.title}</a>
	<!-- END c2 -->
			</div>
		</div>
	
		<div class="mainBlue roundedBorders12 margin4" style="padding-bottom: 10px;">	
	  		<div class="blockTitle">
				Dieing Classics
	        </div>
	
	        <div class="mainWhite borderDottedBlue">
	        	<div class="dft-hlt" style="height: 124px; padding: 4px 22px; border-bottom: 1px dotted blue;">    
	<!-- BEGIN c4_image -->
	            	<a href="/games/view/{c4_image.id}/{c4_image.title_link}/" title="{c4_image.title}">
	             		<img src="{c4_image.avatar}" width="50" height="50" alt="{c4_image.title}" class="blk-img" style="margin: 4px;" /></a>
	<!-- END c4_image -->			
					<div class="clr"></div> 
	            </div>           
	<!-- BEGIN c4 -->
	            <a href="/games/view/{c4.id}/{c4.title_link}/" title="{c4.title}" class="dft-lnk media-lnk {c4.color}" style="background-image: url(/image/games/categories/{c4.id_type}.gif);">
	              {c4.title}</a>
	<!-- END c4 -->
			</div>
		</div>
	</div>
	    
	<div class="col-w1x4">
		<div class="mainBlue roundedBorders12 margin4" style="padding-bottom: 10px;">	
	  		<div class="blockTitle">
				All Time Greatest
	        </div>
	
	        <div class="mainWhite borderDottedBlue">
	        	<div class="dft-hlt" style="height: 124px; padding: 4px 22px; border-bottom: 1px dotted blue;">    
	<!-- BEGIN c3_image -->
	            	<a href="/games/view/{c3_image.id}/{c3_image.title_link}/" title="{c3_image.title}">
	              		<img src="{c3_image.avatar}" width="50" height="50" alt="{c3_image.title}" class="blk-img" style="margin: 4px;" /></a>
	<!-- END c3_image -->			
					<div class="clr"></div>
	            </div>            
	<!-- BEGIN c3 -->
	            <a href="/games/view/{c3.id}/{c3.title_link}/" title="{c3.title}" class="dft-lnk media-lnk {c3.color}" style="background-image: url(/image/games/categories/{c3.id_type}.gif);">
	                {c3.title}</a>
	<!-- END c3 -->
			</div>
		</div>
	</div>
	<div class="clr"></div>
</div>