<div class="mainBlue roundedBorders12 margin4">
  	<div class="blockTitle">
    	Watch Game '{title}' By {nick_name}
   	</div>	
</div>
              
<div class="dft-cnt blu-bdr" style="text-align: center;">
	<object type="application/x-shockwave-flash" width="{width}" height="{height}" data="/media/games/{id}.swf">
  		<param name="allowAccessScript" value="sameDomain" /><param name="game" value="/media/games/{id}.swf" />
	</object>
</div>

<a href="/games/view/{id}/{title_link}/" class="dft-lnk-big blu-alt">Return to Game '{title}' Details to Vote and to Comment</a>