html, body {
  height: 100%;
}

body {
    .gradient();

    margin:     0;
    background: @color-divider;
}

html, body, table {
    color:        @color-font;
    font:         @font-size Arial, Helvetica, sans-serif;
    line-height:  1.5em;
}

h2 {
    margin: 0;
}

a {
    text-decoration:  none;
    color:            @color-link;
}

ul, ol {
    margin: 0;
}

#page {
    width:      80em;
    margin:     0 auto;
    min-height: 100%;
}

.linked {
    background-color: @color-backlinked;
    margin-bottom: 1.333em;

    .block:last-child {
        margin-bottom: 0;
    }
}

.media-box {
    background: @color-dark;
}

.clr {
    clear: both;
    height: 0;
    font-size: 0.001em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-disabled {
    color: @color-border;
}

.pagination {
    padding: 1em 0.667em;
    text-align: center;
    width: auto;
    overflow: hidden;

    a, span {
        display: inline-block;
        padding: 0 0.667em;
    }

    a.left, a.right {
        width: 3em;
    }

    div {
        width: 61.333em;

        * {
            border-right: 0.083em dotted #CCC;

            &:last-child {
                border-right: none;
            }
        }
    }

    .pagination-disabled {
        color: @color-divider;
    }
}
