footer#footer {
    width: 100%;
    background-color: @color-footerback;
    color: @color-border;

    .gradient();

    section {
        margin: 0 auto;
        width: 80em;

        nav {
            min-height: 16em;
        }

        small {
            display: block;
            text-align: right;
            font-size: 0.833em;
            padding-bottom: @font-size;
        }
    }
}
