input, select, textarea, reset, button, .button {
    padding:        (@font-size * @size-6);
    vertical-align: middle;

    .shadow();
    .border();
    .corners();
}

input:focus, select:focus, textarea:focus {
    .border(@color-info);

    outline: none;
}

.button {
    text-decoration: none;
}

input[type="submit"], input[type="reset"], button, .button {
    .gradient();

    font-size: (@font-size * @size-14);
    padding:   (@font-size * @size-6) (@font-size);
}

input[type="submit"], button, .button {
    .border(darken(@color-link, 10%));

    background-color: @color-link;
    color:            @color-fontheader;
}

input[type="reset"] {
    color:   @color-fontfaded;
    opacity: 0.5;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
    .gradient(bottom, 0.1);
    .pressed(@font-size * @size-2);
}

input[type="checkbox"] {
    vertical-align: text-bottom;
}

