<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite URLs to remove www from domain name
    #
    RewriteCond %{HTTP_HOST} ^w{1,5}\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Reroute everything txmafia.com related to txm.com (except media and assets)
    # media.txmafia.com and assets.txmafia.com are cookieless parallel domains for images
    #
    RewriteCond %{HTTP_HOST} !^(media|assets)\.txmafia\.(loc|com)$ [NC]
    RewriteCond %{HTTP_HOST} ^(.*)txmafia\.(loc|com)$ [NC]
    RewriteRule ^(.*)$ http://%1txm.%2/$1 [R=301,L]

    # Any file that already exists, go to it
    #
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

    # If an image doesn't exist, display the 1x1px spacer
    #
    RewriteCond %{HTTP_HOST} ^media\.txmafia\.(loc|com)$ [NC]
    RewriteRule ^ /index.php [L]

    # All other non existant pages route to index.php for Zend
    #
    RewriteRule ^.*$ /index.php [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 seconds"
    ExpiresByType image/gif "access plus 1 years"
    ExpiresByType image/jpeg "access plus 1 years"
    ExpiresByType image/png "access plus 1 years"
    ExpiresByType image/x-icon "access plus 1 years"
    ExpiresByType image/ico "access plus 1 years"
    ExpiresByType text/css "access plus 1 years"
    ExpiresByType text/javascript "access plus 1 years"
    ExpiresByType application/x-javascript "access plus 1 years"
    ExpiresByType application/javascript "access plus 1 years"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|flv|pdf|avi|mov|ppt|doc|mp3|wmv|wav|gif|jpeg|jpg|png)$">
        Header set Cache-Control "public"        
    </FilesMatch>
</IfModule>